<p id="notice"><%= notice %></p>

<div class="panel panel-default">
  <div class="panel-body">
    <h1>Every Single Tweet... EVER</h1>
  </div>
</div>

<% @t.each do |x| %>
<div class="following-feed-box col-md-12 panel panel-default">
    <div class="panel-body">
    
    <div class="row">
      <p class="col-md-10"><%= link_to x.user.username, user_profile_path(id: x.user.id) %></p>
      <p class="col-md-2"><%= time_ago_in_words x.created_at, class: "time-text" %> ago</p>
    </div>
        <p><%= x.message %></p>      
    
      </div>
  </div>
  <% end %>

<br>

<%= link_to 'New Tweet', new_tweet_path, class: "btn btn-primary" %>


